body {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  font-family: monospace;
}

.container {
  border: 0;
  width: 100%;
  margin: auto;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.container table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

.container table tr td {
  padding: 0;
}

.container progress {
  border: 0;
  color: #fff;
  float: right;
  height: 12px;
  outline: none;
  display: block;
  font-size: 10px;
  min-width: 150px;
  line-height: 12px;
  text-align: center;
  font-family: monospace;
  margin: 5px 5px 0 auto;
  transition: opacity 500ms linear;
}

.container progress[value='1'] {
  opacity: 0.7;
}

.container select {
  width: 100%;
  color: #333;
  height: 100%;
  cursor: pointer;
  vertical-align: middle;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.container input[type='file'] {
  padding: 0;
  margin: 10px;
  color: #333;
  height: 100px;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  font-family: monospace;
  box-sizing: border-box;
  vertical-align: middle;
  width: calc(100% - 20px);
}

.container button {
  color: #333;
  width: 120px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background: #fff;
  vertical-align: middle;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

.container p {
  color: #333;
  padding: 0 10px;
  font-size: 13px;
  margin: 5px auto;
  overflow: hidden;
  white-space: normal;
  font-family: monospace;
}

.container a {
  top: 10px;
  width: 32px;
  color: #fff;
  height: 32px;
  cursor: pointer;
  user-select: none;
  position: absolute;
  text-align: center;
  border-radius: 100%;
  text-decoration: none;
  font-family: monospace;
  background-color: #4ca54c;
  border: solid 1px rgba(0, 0, 0, 0.1);
  transition: 300ms ease background-color;
}

.container a:hover {
  background-color: #439843;
}

.container a.copy {
  right: 64px;
  font-size: 16px;
  line-height: 36px;
}

.container a.download {
  right: 24px;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
}

.container a.print {
  right: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
}

.container a.pending {
  background-color: #346534;
}

.container a:hover, 
.container select:hover, 
.container button:hover, 
.container input[type='button']:hover {
  transition: 300ms ease all;
  border: solid 1px rgba(0, 0, 0, 0.15);
}

.container .select,
.container .content,
.container .consent,
.container .console {
  padding: 0;
  margin: 0 auto;
}

.container .consent {
  left: 0;
  margin: 0;
  border: 0;
  bottom: 0;
  color: #333;
  z-index: 11;
  width: 100%;
  display: none;
  position: fixed;
  text-align: center;
  background-color: #ea4949;
}

.container .consent p {
  color: #fff;
  padding: 10px;
  font-weight: 600;
}

.container .consent button {
  width: 100%;
  height: 38px;
  margin-top: 0;
  max-width: 350px;
  font-weight: 600;
  margin: 5px auto 15px auto;
}

.container .fileio {
  padding: 0;
  position: relative;
  border: solid 1px rgba(0, 0, 0, 0.20);
  background: #fbfbfb url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAACk2AAApNgHc42JBAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAG1JREFUWIVj/P//PwOpwHeZ71cGBgYuNOGvm6M285BqFhPJtlMZjDpg1AGjDhh1wKgDBtwBjD5Lfb6SoQ+9IoKBb6QaxILHMHIAyWYNeBSMOoCFgYyEw0DFRMg42iQbdcCoA0YdMOqAUQcMtAMAH6AVeLZnZIgAAAAASUVORK5CYII=') no-repeat center center;
  background-size: 22px;
}

.container .fileio .info {
  left: 10px;
  color: #333;
  bottom: 10px;
  font-size: 13px;
  user-select: none;
  position: absolute;
  text-align: center;
  pointer-events: none;
  font-family: monospace;
}

.container .content table {
  border-spacing: 1px 0;
}

.container .console {
  height: 120px;
  overflow-x: hidden;
  overflow-y: scroll;
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.container .console > div {
  padding: 0;
  color: #333;
  margin: 3px;
  height: 24px;
  font-size: 13px;
  overflow: hidden;
  text-indent: 5px;
  line-height: 24px;
  white-space: nowrap;
  text-align: justify;
  box-sizing: border-box;
  font-family: monospace;
  background-color: #fbfbfb;
  border: solid 1px rgba(0, 0, 0, 0.05);
}

.container .status {
  height: 100%;
  font-size: 13px;
  overflow: hidden;
  line-height: 22px;
  white-space: nowrap;
  display: inline-block;
  font-family: monospace;
  text-overflow: ellipsis;
  width: calc(100% - 10px);
}

.container .status[done] {
  font-weight: 600;
}

.container .result {
  display: flex;
  height: 300px;
  overflow: hidden;
  position: relative;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background: #fff url('../icons/64.png') no-repeat 50% 50%;
  background-size: 64px;
}

.container .result textarea {
  margin: 0;
  border: 0;
  width: 100%;
  color: #000;
  height: 100%;
  padding: 10px;
  outline: none;
  font-size: 14px;
  line-height: 1.7;
  overflow-y: scroll;
  font-family: monospace;
  box-sizing: border-box;
  background-color: transparent;
}

.container .render {
  display: flex;
  min-height: 300px;
  position: relative;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 840px);
  border: 1px solid rgba(0, 0, 0, 0.20);
}

.container .render iframe {
  border: 0;
  width: 100%;
  padding: 0;
  margin: auto;
  height: 100%;
  background: #fff;
}

.container .select {
  height: 48px;
}

.container .select table {
  table-layout: fixed;
}

.container .select select {
  margin: 0;
  color: #333;
  height: 48px;
  outline: none;
  font-size: 13px;
  appearance: none;
  font-weight: 600;
  user-select: none;
  white-space: nowrap;
  background-size: 8px;
  padding: 0 28px 0 10px;
  box-sizing: border-box;
  font-family: monospace;
  width: calc(100% - 2px);
  text-overflow: ellipsis;
  background-color: #fbfbfb;
  overflow: hidden !important;
  border: 1px solid rgba(0, 0, 0, 0.20);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAHWSURBVFhH7ZY/TsMwFMZjZ0QM3KCiMEXiCnCDqv9WpooToIqt6sgZ6ITYWtELAEIsDDCjdkBwARATA1Vivs+JqzSyoaVtFvJJr7bfs/Pzv5fGK1SoUKfTkUmVpUhM+/KIiUajUUblMAzDPaXUhg55noJxkCnTWjomhPj0ff8ezEtRr9fbcJzqLjkriqITbsNW3MxfWPimxM9X0s5dYIdyMplcYCtuEl9uAvMWxbk/Ho/fgyB4hCPAjEpxeL0iXErZGgwGL7LZbPqoPOFGHiWzWqvScDSVSRVeRlWtVsvYhR467Mfu1SoLp8+HaTgbo9HoA8dxh/fB3qqPwwaHxBQOcTcigF9hrVUehw2ON2LMw4+xiPeh3++HqEscxzYmcoaBB2j/Wa6VwzRPv49Nw8BhajgcPi97MX9aueHxDqgsHEYJpOgb7sQDHrRwirrg3W53ZrE6DW1wmO6IByycovPCGSOIssLTHedN0UXgjBH2K5wBSOKvu4QU7WEi1otpg0POZ3Jic8NhIcDOFHWtnCEXnLvCutkFjx1ZQmzTT9O+dAzHsYPviCvsiKLVarXr5MMmPc75TMBnYrphnNC0Y1K3xiqVyi6gx7B2Fm7628ZlfIUK/Xt53jf1c2EfTV8yvgAAAABJRU5ErkJggg==');
  background-position: right 10px top 50%, 0 0;
  background-repeat: no-repeat, repeat;
}

.selector[disabled],
.container .select select[disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.container .separator {
  border: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.container .separator svg {
  fill: #4ca54c;
  pointer-events: none;
  vertical-align: middle;
}

.container #language {
  margin-left: 2px
}

.toolbar {
  top: 11px;
  right: 11px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  width: auto;
  height: 100%;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  height: 40px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar table tr td:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.theme, .selector {
  top: 139px;
  z-index: 11;
  width: 42px;
  height: 42px;
  display: flex;
  cursor: pointer;
  position: absolute;
  align-items: center;
  background-color: #fff;
  justify-content: center;
  transition: 300ms ease background-color;
}

.theme {
  right: 10px;
}

.selector {
  left: 10px;
}

.theme svg, .selector svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.theme:hover, .selector:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

@media (max-width: 300px) {
  .toolbar {
    display: none;
  }
}

html[context='webapp'] .toolbar {
  display: none;
}

html[engine='tesseract'] .container .render,
html[engine='tesseract'] table tr td:has(#backend),
html[engine='tesseract'] .container .separator.last {
  display: none;
}

html[engine='tesseract'] .container .result {
  height: calc(100vh - 482px);
}

html[engine='granite'] table tr td:has(#language),
html[engine='granite'] table tr td:has(#accuracy) {
  display: none;
}

html[theme='dark'], 
html[theme='dark'] body {
  color: #ebebeb;
  color-scheme: dark;
  background-color: #1e1e1e;
}

html[theme='dark'] .container .console > div {
  color: #ebebeb;
  background-color: rgb(255 255 255 / 10%);
}

html[theme='dark'] .container .fileio,
html[theme='dark'] .container .select select {
  color: #ebebeb;
  background-color: #1a1a1a;
}

html[theme='dark'] .theme:hover,
html[theme='dark'] .selector:hover,
html[theme='dark'] .toolbar table tr td:hover {
  background-color: rgb(255 255 255 / 5%);
}

html[theme='dark'] .theme,
html[theme='dark'] .selector,
html[theme='dark'] .container .result,
html[theme='dark'] .container .console,
html[theme='dark'] .container .render iframe {
  background-color: #1e1e1e;
}

html[theme='dark'] .container .console > div {
  border-color: rgb(255 255 255 / 10%);
}

html[theme='dark'] .container a,
html[theme='dark'] .container .render,
html[theme='dark'] .container .fileio,
html[theme='dark'] .container .result,
html[theme='dark'] .container .console,
html[theme='dark'] .container .select select {
  border-color: rgb(255 255 255 / 35%);
}

html[theme='dark'] .container .fileio .info,
html[theme='dark'] .container .result textarea,
html[theme='dark'] .container input[type='file'] {
  color: #ebebeb;
}

html[theme='dark'] .theme svg,
html[theme='dark'] .selector svg,
html[theme='dark'] .toolbar table tr td svg {
  fill: #ebebeb;
}
