body {
  border: 0;
  padding: 0;
  width: 100%;
  margin: auto;
  font-family: monospace;
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 0;
}

table tr td {
  padding: 0;
}

progress {
  border: 0;
  color: #fff;
  float: right;
  height: 12px;
  outline: none;
  display: block;
  font-size: 10px;
  min-width: 150px;
  line-height: 12px;
  text-align: center;
  font-family: monospace;
  margin: 10px 10px 0 auto;
  transition: opacity 500ms linear;
}

progress[value='1'] {
  opacity: 0.7;
}

select {
  width: 100%;
  color: #333;
  height: 100%;
  cursor: pointer;
  vertical-align: middle;
  border: solid 1px rgba(0,0,0,0.1);
}

input[type='file'] {
  width: 100%;
  color: #333;
  padding: 10px;
  height: 120px;
  outline: none;
  font-size: 13px;
  cursor: pointer;
  font-weight: 600;
  font-family: monospace;
  box-sizing: border-box;
  vertical-align: middle;
}

button {
  color: #333;
  width: 120px;
  height: 32px;
  outline: none;
  cursor: pointer;
  background: #fff;
  vertical-align: middle;
  border: solid 1px rgba(0,0,0,0.1);
}

p {
  color: #333;
  padding: 0 10px;
  font-size: 13px;
  margin: 5px auto;
  overflow: hidden;
  white-space: normal;
  font-family: monospace;
}

a {
  top: 22px;
  right: 42px;
  width: 32px;
  color: #fff;
  height: 32px;
  cursor: pointer;
  font-size: 22px;
  font-weight: 600;
  line-height: 32px;
  position: absolute;
  text-align: center;
  background: #4ca54c;
  border-radius: 100%;
  text-decoration: none;
  font-family: monospace;
  border: solid 1px rgba(0,0,0,0.1);
}

a:hover, 
select:hover, 
button:hover, 
input[type='button']:hover {
  transition: 300ms ease all;
  border: solid 1px rgba(0,0,0,0.15);
}

.container {
  border: 0;
  width: 100%;
  margin: auto;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

.content, .select, .consent, .console {
  padding: 0;
  margin: 0 auto;
}

.status {
  font-size: 13px;
  line-height: 22px;
  display: inline-block;
  font-family: monospace;
}

.status[done] {
  font-weight: 600;
}

.consent {
  left: 0;
  margin: 0;
  border: 0;
  bottom: 0;
  color: #333;
  z-index: 11;
  width: 100%;
  display: none;
  position: fixed;
  text-align: center;
  background-color: #ea4949;
}

.consent p {
  color: #fff;
  padding: 10px;
  font-weight: 600;
}

.consent button {
  width: 100%;
  height: 38px;
  margin-top: 0;
  max-width: 350px;
  font-weight: 600;
  margin: 5px auto 15px auto;
}

.fileio {
  padding: 0;
  position: relative;
  border: solid 1px rgba(0,0,0,0.20);
  background: #fbfbfb url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAACk2AAApNgHc42JBAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAG1JREFUWIVj/P//PwOpwHeZ71cGBgYuNOGvm6M285BqFhPJtlMZjDpg1AGjDhh1wKgDBtwBjD5Lfb6SoQ+9IoKBb6QaxILHMHIAyWYNeBSMOoCFgYyEw0DFRMg42iQbdcCoA0YdMOqAUQcMtAMAH6AVeLZnZIgAAAAASUVORK5CYII=') no-repeat center center;
  background-size: 16px;
}

.fileio .info {
  left: 10px;
  color: #333;
  bottom: 10px;
  font-size: 13px;
  user-select: none;
  position: absolute;
  text-align: center;
  pointer-events: none;
  font-family: monospace;
}

.content table {
  border-spacing: 1px 0;
}

.toolbar {
  top: 11px;
  right: 11px;
  z-index: 11;
  position: absolute;
}

.toolbar table {
  width: auto;
  border-spacing: 0;
  table-layout: fixed;
}

.toolbar table tr td {
  padding: 0;
  width: 42px;
  color: #555;
  height: 40px;
  cursor: pointer;
  user-select: none;
  text-align: center;
}

.toolbar table tr td svg {
  fill: #555;
  pointer-events: none;
  vertical-align: middle;
}

.toolbar table tr td:hover {
  background-color: rgba(0,0,0,0.05);
}

.console {
  overflow-x: hidden;
  overflow-y: scroll;
  position: relative;
  height: calc(100vh - 310px);
  border: 1px solid rgba(0,0,0,0.20);
  background: #fff url('../icons/64.png') no-repeat 50% 70%;
  background-size: 64px;
}

.console textarea {
  width: 100%;
  color: #000;
  margin: 5px;
  padding: 10px;
  height: 100vh;
  outline: none;
  font-size: 14px;
  line-height: 28px;
  overflow-y: scroll;
  font-family: monospace;
  box-sizing: border-box;
  border: solid 1px #86b229;
  max-height: calc(100vh - 363px);
}

.console > div {
  padding: 0;
  color: #333;
  margin: 3px;
  height: 32px;
  font-size: 13px;
  overflow: hidden;
  text-indent: 5px;
  line-height: 32px;
  white-space: nowrap;
  text-align: justify;
  box-sizing: border-box;
  font-family: monospace;
  text-overflow: ellipsis;
  background-color: #fbfbfb;
  border: solid 1px rgba(0,0,0,0.05);
}

.console .result {
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.select {
  height: 48px;
}

.select table {
  table-layout: fixed;
}

.select select {
  margin: 0;
  color: #333;
  height: 48px;
  outline: none;
  font-size: 13px;
  appearance: none;
  font-weight: 600;
  text-indent: 10px;
  user-select: none;
  white-space: nowrap;
  background-size: 8px;
  padding: 0 28px 0 0px;
  font-family: monospace;
  width: calc(100% - 2px);
  text-overflow: ellipsis;
  background-color: #fbfbfb;
  overflow: hidden !important;
  border: 1px solid rgba(0,0,0,0.20);
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAACxMAAAsTAQCanBgAAAHWSURBVFhH7ZY/TsMwFMZjZ0QM3KCiMEXiCnCDqv9WpooToIqt6sgZ6ITYWtELAEIsDDCjdkBwARATA1Vivs+JqzSyoaVtFvJJr7bfs/Pzv5fGK1SoUKfTkUmVpUhM+/KIiUajUUblMAzDPaXUhg55noJxkCnTWjomhPj0ff8ezEtRr9fbcJzqLjkriqITbsNW3MxfWPimxM9X0s5dYIdyMplcYCtuEl9uAvMWxbk/Ho/fgyB4hCPAjEpxeL0iXErZGgwGL7LZbPqoPOFGHiWzWqvScDSVSRVeRlWtVsvYhR467Mfu1SoLp8+HaTgbo9HoA8dxh/fB3qqPwwaHxBQOcTcigF9hrVUehw2ON2LMw4+xiPeh3++HqEscxzYmcoaBB2j/Wa6VwzRPv49Nw8BhajgcPi97MX9aueHxDqgsHEYJpOgb7sQDHrRwirrg3W53ZrE6DW1wmO6IByycovPCGSOIssLTHedN0UXgjBH2K5wBSOKvu4QU7WEi1otpg0POZ3Jic8NhIcDOFHWtnCEXnLvCutkFjx1ZQmzTT9O+dAzHsYPviCvsiKLVarXr5MMmPc75TMBnYrphnNC0Y1K3xiqVyi6gx7B2Fm7628ZlfIUK/Xt53jf1c2EfTV8yvgAAAABJRU5ErkJggg==');
  background-position: right 10px top 50%, 0 0;
  background-repeat: no-repeat, repeat;
}

.select select[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.separator {
  border: 0;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
}

.separator svg {
  fill: #4ca54c;
  pointer-events: none;
  vertical-align: middle;
}

#language {
  margin-left: 2px
}

@-moz-document url-prefix() {
  a {
    font-size: 10px;
    font-weight: 600;
    font-family: monaco, 'andale mono', 'lucida console', 'courier new', monospace;
  }
  
  p,
  .status,
  .fileio .info,
  .select select,
  .console > div,
  .console textarea,
  input[type='file'] {
    font-size: 11px;
    font-weight: normal;
    font-family: monaco, 'andale mono', 'lucida console', 'courier new', monospace;
  }
}

@media (max-width: 300px) {
  .toolbar {
    display: none;
  }
}

html[context='popup'] .console {
  background-position: 50% 90%;
}

html[context='popup'] #log {
  height: 290px;
  min-height: 290px;
}

html[context='popup'] .console textarea {
  height: 247px;
  max-height: 247px;
  line-height: 22px;
}

html[context='webapp'] .console {
  height: calc(100vh - 310px);
  background-position: 50% 85%;
}

html[context='webapp'] .console textarea {
  max-height: calc(100vh - 363px);
}

html[context='webapp'] .toolbar {
  display: none;
}
